<div class="full-height-page full-height-page--flex-column full-height-page--center">
  <div class="access-denied">
    <div class="access-denied-header">
      <span>Access Denied</span>
    </div>
    <div class="access-denied-message">
      <span>You don't have access to this page</span>
    </div>
    <div class="access-denied-img-container">
      <img class="access-denied-img" src="assets/images/access_denied.svg" alt="access denied image">
    </div>
    <div>
      <button class="flat accent" (click)="goBack()" type="button">BACK TO PREVIOUS PAGE</button>
    </div>
  </div>
</div>

