// height
.h-70vh {
  height: 70vh;
}

.h-80vh{
  height: 80vh;
}

// width
.w-5-perc {
  width: 5%
}

.w-10-perc {
  width: 10%
}

.w-18-perc {
  width: 18%
}

.w-19-perc {
  width: 19%
}

.w-20-perc {
  width: 20%
}

.w-48-perc {
  width: 48%
}

.w-70-perc {
  width: 70%
}

.w-70-px {
  width: 70px;
}

// margins
.margin-left-20{
  margin-left: 20px;
}

// paddings
.padding-12 {
  padding: 12px;
}

.padding-24 {
  padding: 24px;
}

.padding-bottom-24{
  padding-bottom: 24px;
}

// right
.right-24 {
  right: 24px;
}
