// TODO: replace with inline svg

.i-archive {
  background-image: url(../assets/images/icons/menu_archive.svg);
}
.i-flights {
  background-image: url(../assets/images/icons/menu_flights.svg);
}
.i-scanner {
  background-image: url(../assets/images/icons/menu_scanner.svg);
}
.i-cards {
  background-image: url(../assets/images/icons/menu_cards.svg);
}
.i-students {
  background-image: url(../assets/images/icons/menu_students.svg);
}
.i-users {
  background-image: url(../assets/images/icons/menu_users.svg);
}
.i-classrooms {
  background-image: url(../assets/images/icons/menu_classrooms.svg);
}
.i-config {
  background-image: url(../assets/images/icons/menu_config.svg);
}
